<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/interface_css.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <!-- Load icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <!--<script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/b-1.6.1/b-colvis-1.6.1/b-flash-1.6.1/b-html5-1.6.1/cr-1.5.2/fc-3.3.0/fh-3.1.6/kt-2.5.1/r-2.2.3/rg-1.1.1/rr-1.2.6/sc-2.0.1/sp-1.0.1/sl-1.3.1/datatables.min.css"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/b-1.6.1/b-colvis-1.6.1/b-flash-1.6.1/b-html5-1.6.1/cr-1.5.2/fc-3.3.0/fh-3.1.6/kt-2.5.1/r-2.2.3/rg-1.1.1/rr-1.2.6/sc-2.0.1/sp-1.0.1/sl-1.3.1/datatables.min.js"></script>
    <link type="text/css" href="//gyrocode.github.io/jquery-datatables-checkboxes/1.2.11/css/dataTables.checkboxes.css" rel="stylesheet" />
    <script type="text/javascript" src="//gyrocode.github.io/jquery-datatables-checkboxes/1.2.11/js/dataTables.checkboxes.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script src="{{ url_for('static', filename='js/plots.js') }}"></script>
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='picture/favicon.png') }}"/>
    <title>RB-Pro</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">
            <img src="{{ url_for('static', filename='picture/logo_6.png') }}" width="auto" height="30" class="d-inline-block align-top" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto menu">
                <li class="nav-item active">
                    <a class="nav-link" href="#">RB-PRO<span class="sr-only">(current)</span></a>
                </li>
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="#">RETINOBLASTOMA</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="#">PRECISION MEDICINE</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="http://localhost:5000/aboutus">ABOUT US</a>-->
                <!--</li>-->
            </ul>
        </div>
    </nav>
    <div class="maindiv">
        <div class="coldiv_step">
            <h4 class="h6_heading"><i class="fas fa-scroll"></i> Prediction Results</h4>
            <div style="margin-left: 80px; margin-right: 60px">
                <div class="vizhead">
                    <h6 class="sub_heading">Target Infomation</h6>
                    <a type="button" class="panel-heading btn4" data-toggle="collapse" data-target="#collapse_targetinfo"><i class="fas fa-info-circle"></i></a>
                </div>
                <div id="collapse_targetinfo" class="vizinfo panel-collapse collapse">
                    Target Information shows the important details of the selected protein target. That information is retrieved from the Uniport API which provides many useful resources and related knowledge for many protein substances. The information shown in this part includes the target id and name, target’s function, target’s subunit, target’s similarity, and the reference URL. Those information are meaningful for the researcher to analyse potential targets in case the target doesn’t exist to the Chembl database and results in no associated compounds so the research can track back to the target’s family to further observe the new targets.
                </div>
                <div class="areasomething">
                    <div class="row">
                        <div class="col-md-5 textleft">
                            <p><span class="uniprotid" style="color: black">{{target | safe}}</span></p>
                            <p> {{targetname | safe}}</p>
                        </div>
                        <div class="col-md-7 textleft" id="targetinfo">
                            <script>
                                var targetdetail = {{targetdetail | safe}};
                                var target = '{{target | safe}}';
                                document.getElementById('targetinfo').innerHTML = '<p><b>Function</b>: '+targetdetail['Function']+'</p>'
                                document.getElementById('targetinfo').innerHTML += '<p><b>Subunit</b>: '+targetdetail['Subunit']+'</p>'
                                document.getElementById('targetinfo').innerHTML += '<p><b>Similarity</b>: '+targetdetail['Similarity']+'</p>'
                                document.getElementById('targetinfo').innerHTML += '<p><b>Uniprot URL</b>: <a href="https://www.uniprot.org/uniprot/'+target+'" target="_blank">'+target+'<i class="fas fa-link"></i></a></p>'
                            </script>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="chart" id="predictionratio">
                    <script>
                        var graphs = {{result | safe}};
                        Plotly.plot('predictionratio', graphs,{});
                        window.addEventListener('resize', function() { Plotly.Plots.resize('predictionratio'); });
                    </script>
                </div>
            </div>
            <div style="margin-left: 80px; margin-right: 60px">
                <div class="vizhead">
                    <h6 class="sub_heading">Table of Predicted Potential Active Compounds</h6>
                    <a type="button" class="panel-heading btn4" data-toggle="collapse" data-target="#collapse_compoundtable"><i class="fas fa-info-circle"></i></a>
                </div>
                <div id="collapse_compoundtable" class="vizinfo panel-collapse collapse">
                    Table of predicted potential active compounds
                </div>
                <div class="table" id="table_div">
                    {{tablepredict | safe}}
                </div>
                <div class="checktargetdetail textleft">
                    <!--<input type="hidden" id="hiddentarget" name="hiddentarget">-->
                    <p class="smilesid nomargin" id="checkrow">No selected compound</p>
                    <div class="row" style="margin-bottom: 10px">
                        <div class="col-md-4">
                            <!--<div class="linespacing"><span class="spanbold">Molecule Chembl ID: </span><br><span class="nomargin" id="checkrow_id">-</span></div>-->
                            <div class="linespacing"><span class="spanbold">Status: </span><br><span class="nomargin" id="checkrow_st">-</span></div>
                            <div class="linespacing"><span class="spanbold">InChiKey: </span><br><span class="nomargin" id="checkrow_in" style="overflow-wrap: break-word">-</span></div>
                            <div class="linespacing"><span class="spanbold">Formula: </span><br><span class="nomargin" id="checkrow_fm">-</span></div>
                            <div class="linespacing"><span class="spanbold">Smiles: </span><br><span class="nomargin" id="checkrow_sm" style="overflow-wrap: break-word">-</span></div>
                            <div class="linespacing"><span class="spanbold">IUPAC Name: </span><br><span class="nomargin" id="checkrow_db" style="overflow-wrap: break-word">-</span></div>
                            <div class="linespacing"><span class="spanbold">Preferred Name: </span><br><span class="nomargin" id="checkrow_cn">-</span></div>
                        </div>
                        <div class="col-md-4">
                            <span class="spanbold">Molecule Structure 2D: </span><div class="nomargin" id="checkrow_ms">-</div><br>
                        </div>
                        <div class="col-md-4">
                            <span class="spanbold">Molecule Structure 3D: </span><br><div class="nomargin" id="checkrow_ms3d">-</div><br>
                        </div>
                    </div>
                </div>
                <script>
                    $(document).ready(function() {
                        var data = {{datapredict | safe}};
                        console.log(data);
                        var table = $('#tablepredict_div').DataTable( {
                            data:           data,
                            deferRender:    true,
                            scrollX:        true,
                            scrollY:        "400px",
                            scroller:       true,
                            scrollCollapse: true,
                            select:         true,
                            paging:         true,
                            dom:            'Bfrtip',
                            order:          [[ 3, "asc" ],[ 4, "desc" ]],
                            buttons:        ['csvHtml5','pdfHtml5'],
                            asStripeClasses:[],
                            createdRow: function( row, data, dataIndex, cells){
                                if( data[3] ==  'active'){
                                    $(cells[3]).addClass('redClass');
                                }
                                if( data[3] ==  'inactive'){
                                    $(cells[3]).addClass('blueClass');
                                }
                            }
                        } );
                        $('#tablepredict_div').on( 'click', 'tr', function () {
                            if ( $(this).hasClass('selected') ) {
                                $(this).removeClass('selected');
                            }
                            else {
                                table.$('tr.selected').removeClass('selected');
                                $(this).addClass('selected');

                                var rows_selected = table.column(0).checkboxes.selected();


                                // Output form data to a console
                                var uniprotid = Object.values($(this))[0];
                                $('#checkrow').text(uniprotid.cells[0].innerText);
                                //$('#checkrow').attr('onclick', 'window.open("xxx")');
                                $('#checkrow_id').text(uniprotid.cells[0].innerText);
                                $('#checkrow_in').text(uniprotid.cells[0].innerText);
                                $('#checkrow_st').text(uniprotid.cells[3].innerText);

                                $.ajax({
                                    url: '/compoundinfopredict',
                                    data:{
                                      compound: $('#checkrow_in').text()
                                    },
                                    dataType: 'JSON',
                                    type: 'GET',
                                    success: function(data){

                                          //$('#checkrow_ms').text(data.result);

                                          console.log(data.result);

                                          var cidthis = data.result[0];
                                          var namethis = data.result[1];
                                          var formulathis = data.result[2];
                                          var smilesthis = data.result[3];
                                          var prefnamethis = data.result[4];
                                          var chemblidthis = data.result[5];


                                          $('#checkrow_ms3d').html('<iframe src="https://www.ncbi.nlm.nih.gov/Structure/icn3d/full.html?cid='+cidthis+'&width=auto&height=350&showcommand=0&showmenu=0&mobilemenu=0&showtitle=0&resize=1&rotate=right" width="100%" height="350px" style="border:1px; background-color: black; overflow: hidden; border-radius: 20px;"></iframe>');
                                          $('#checkrow_db').text(namethis);
                                          $('#checkrow_fm').text(formulathis);
                                          $('#checkrow_sm').text(smilesthis);
                                          $('#checkrow_cn').text(prefnamethis);
                                          $('#checkrow_ms').html("<img style='width: 100%;  padding: 10px;' src='https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/cid/"+cidthis+"/PNG'>");

                                    }
                                });
                            }
                        } );
                    } );
                </script>
                <link rel="stylesheet" href="https://www.ncbi.nlm.nih.gov/Structure/icn3d/lib/jquery-ui.min.css">
                <link rel="stylesheet" href="https://www.ncbi.nlm.nih.gov/Structure/icn3d/icn3d_full_ui.css">
                <!--<script src="https://www.ncbi.nlm.nih.gov/Structure/icn3d/lib/jquery.min.js"></script>-->
                <script src="https://www.ncbi.nlm.nih.gov/Structure/icn3d/lib/jquery-ui.min.js"></script>
                <script src="https://www.ncbi.nlm.nih.gov/Structure/icn3d/lib/three.min.js"></script>
                <script src="https://www.ncbi.nlm.nih.gov/Structure/icn3d/icn3d_full_ui.min.js"></script>
            </div>
        </div>
    </div>
</body>
</html>